terabytes_app
data_extractors/parsed_response
data_extractors/parsed_response.txt
sample_response
rss_extraction.json
engineering_feed.xml
__pycache__
*sample_response*
engineering_blogs.opml
non_working_feeds
non_working_feeds.txt
parse_blog_opml.py
secrets.env
terabytes_eer.htm
terabytes_eer_files
test.html
.ssh_tunnel
C:\Users\disco\Computer Programming\terabytes\[test]
default_repo
mage_data/
metadata.yaml
data_extractors/blog_extraction_issues.txt

go_backend/.air.toml
go_backend/bin/
data_extractors/broken_links.txt

docs